<div class="form-group">
<label for="nom">Nom</label>
<input type="nom" class="form-control" id="nom" aria-describedby="nom" placeholder="nom">
</div>
<div class="form-group">
<label for="age">Age</label>
<input type="age" class="form-control" id="age" placeholder="Age">
</div>
<div class="form-group">
<label for="date">Date d'ajout</label>
<input type="date" class="form-control" id="date" placeholder="date">
</div>
<div class="form-group">
<label class="form-check-label">Gender</label>
<select class="form-select" aria-label="Default select example">
  <option value="1">Male</option>
  <option value="2">Female</option>
</select>
</div>
<br>
<button class="btn btn-primary">Submit</button>
<table class="table">
<thead>
<tr>
  <th scope="col">Nom</th>
  <th scope="col">Age</th>
  <th scope="col">Date d'ajout</th>
  <th scope="col">Gender</th>
</tr>
</thead>
<tbody>
<tr>
  <td>Jabrane</td>
  <td>39</td>
  <td>14/11/2022</td>
  <td>Male</td>
</tr>

</tbody>
</table>